@using UniversityAdmission.Data.Repos
@using UniversityAdmission.Models.DTO
@using UniversityAdmission.Models.Entities
@using UniversityAdmission.Services

@inject UserRepository userRepository

<ul class="navbar-nav me-4">
    @{
        var user = userRepository.GetUserByToken(Context.Request.Cookies["access-cookie"]!);
        if (user != null)
        {
            <li class="nav-item me-3">
                <a id="manage" class="nav-link text-dark" title="Manage">Користувач: @user.Login</a>
            </li>
            if (user.Role == Roles.Owner || user.Role == Roles.Administrator)
            {
                <li class="nav-item">
                    <a class="btn btn-outline-dark me-2">Управління користувачами</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-dark me-2" data-bs-toggle="modal" data-bs-target="#registerModal"
                        id="register">Додати користувача</a>
                </li>
            }
            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-controller="Home" asp-action="Logout">
                    <button id="logout" type="submit" class="btn btn-outline-dark">Вийти</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <button class="btn btn-primary px-3" data-bs-toggle="modal" data-bs-target="#loginModal" id="login">Увійти</button>
            </li>
        }
    }
</ul>

@await Html.PartialAsync("_LoginPopupPartial", new LoginRequest())
@await Html.PartialAsync("_RegisterPopupPartial", new RegisterRequest())