@using MongoDB.Bson
@using UniversityAdmission.Data.Repos
@using UniversityAdmission.Models.Entities
@using UniversityAdmission.Models.DTO
@model GroupExamDTO

@inject ExamRepository examRepository
@inject GroupExamRepository groupExamRepository

@{
    ViewData["Title"] = "Додати екзамен";
    var exams = examRepository.GetAll().Result;
    var groupId = ViewContext.RouteData.Values["groupId"];
    var groupExams = groupExamRepository.GetGroupExamsFromGroup(ObjectId.Parse(groupId!.ToString())).Result;
}

<div>
    <h2 class="text-center">Додати екзамен до групи</h2>
    <form asp-controller="GroupExam" asp-action="Add" class="w-75 mx-auto d-flex flex-column" novalidate>
        <input type="hidden" value="@groupId" asp-for="GroupId" />
        <div class="mb-3">
            <label class="form-label ms-2 mb-1" asp-for="ExamId">Оберіть екзамен</label>
            <select asp-for="ExamId" class="form-control">
                <option value="">Оберіть екзамен</option>
                @foreach (var exam in exams)
                {
                    if (!groupExams.Any(te => te.ExamId == exam.Id))
                    {
                        <option value="@exam.Id">@exam.Name</option>
                    }
                }
            </select>
        </div>
        <div class="mb-3">
            <input type="submit" value="Додати" class="btn btn-primary" />
            <a asp-controller="GroupExam" asp-route-groupId="@groupId" asp-action="Index" class="btn btn-secondary ms-2">Назад</a>
        </div>
    </form>
</div>