@using UniversityAdmission.Models.Entities
@model List<Faculty>
@{
    ViewData["Title"] = "Факультети";
}

<div class="d-flex flex-column align-items-center w-100">
    @if (Model.Count() == 0)
    {
        <h1 class="fw-bold">Факультетів не знайдено</h1>
        <a type="button" class="btn btn-primary my-3" asp-controller="Faculty" asp-action="Add">Додати факультет</a>
    }
    else
    {
        <h1 class="fw-bold">Список факультетів</h1>
        <a type="button" class="btn btn-primary my-3" asp-controller="Faculty" asp-action="Add">Додати факультет</a>
        <div class="w-100">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-start ps-4" style="width: 20%;">Ім'я</th>
                        <th scope="col" class="w-50 text-start">Опис</th>
                        <th scope="col" class="text-center" style="width: 30%;">Дії</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var faculty in Model)
                    {
                        <tr class="align-middle">
                            <td class="text-start ps-4 text-break">@faculty.Name</td>
                            <td class="text-start text-break">@faculty.Description</td>
                            <td class="text-center text-nowrap">
                                <a type="button" class="btn btn-success">Додати кафедру</a>
                                <a type="button" class="btn btn-warning" asp-controller="Faculty" asp-action="Edit" asp-route-id="@faculty.Id">Редагувати</a>
                                <form method="post" asp-action="Delete" class="d-inline">
                                    <input type="hidden" name="id" value="@faculty.Id" />
                                    <a type="submit" class="btn btn-danger">Видалити</a>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>