@using UniversityAdmission.Models.Entities
@model List<Group>
@{
    ViewData["Title"] = "Другий запит";
    var groups = Model.OrderBy(g => g.Name).ToList();
}

<div class="d-flex flex-column align-items-center w-100">
    <div class="card text-center bg-light my-5">
        <div class="card-body">
            <p class="card-text text-nowrap m-0 me-3">
                Вивести інформацію про всі групи, в яких складають екзамени абітурієнти, що вступають на різні
                спеціальності.
            </p>
        </div>
    </div>

    @if (!Model.Any())
    {
        <h2 class="fw-bold">Груп не знайдено</h2>
    }
    else
    {
        <div class="w-50">
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-center">Назва</th>
                        <th scope="col" class="text-center" style="width: 20%;">Дата проведення</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var group in groups)
                    {
                        <tr class="align-middle">
                            <td class="text-start ps-4">@group.Name</td>
                            <td class="text-center">@group.ExamDate.ToString("dd.MM.yyyy")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>