@using MongoDB.Bson
@using UniversityAdmission.Data.Repos
@using UniversityAdmission.Models.Entities
@using UniversityAdmission.Models.DTO
@model TeacherExamDTO

@inject ExamRepository examRepository
@inject TeacherExamRepository teacherExamRepository

@{
    ViewData["Title"] = "Додати екзамен";
    var exams = examRepository.GetAll().Result;
    var teacherId = ViewContext.RouteData.Values["teacherId"];
    var teacherExams = teacherExamRepository.GetTeacherExamsFromTeacher(ObjectId.Parse(teacherId!.ToString())).Result;
}

<div>
    <h2 class="text-center">Додати екзамен для викладача</h2>
    <form asp-controller="TeacherExam" asp-action="Add" class="w-75 mx-auto d-flex flex-column" novalidate>
        <input type="hidden" value="@teacherId" asp-for="TeacherId" />
        <div class="mb-3">
            <label class="form-label ms-2 mb-1" asp-for="ExamId">Оберіть екзамен</label>
            <select asp-for="ExamId" class="form-control">
                <option value="">Оберіть екзамен</option>
                @foreach (var exam in exams)
                {
                    if (!teacherExams.Any(te => te.ExamId == exam.Id))
                    {
                        <option value="@exam.Id">@exam.Name</option>
                    }
                }
            </select>
        </div>
        <div class="mb-3">
            <input type="submit" value="Додати" class="btn btn-primary" />
            <a asp-controller="TeacherExam" asp-route-teacherId="@teacherId" asp-action="Index" class="btn btn-secondary ms-2">Назад</a>
        </div>
    </form>
</div>